# Source of truth for internal/pkg/rest-v3 (make generate-ogen-v3) and for the docs site.
openapi: 3.1.0
info:
  title: avee
  version: 1.0.0
  summary: DEX market data for machines
  description: |
    Read-only market data for decentralised exchanges: liquidity pairs, canonical tokens, trades and
    OHLCV candles across every chain avee indexes.

    ## Authentication

    No key is required: every operation in this document answers an unauthenticated request. A key
    only raises the limits. It travels in the `X-API-Key` header (`Authorization: Bearer <key>` is
    accepted too); a key that is sent but unknown or revoked is `401`, never a quiet downgrade, and a
    key in the query string is rejected with `400 key_in_query` because query strings end up in proxy
    logs and browser history.

    ## Errors

    Every non-2xx response is `application/problem+json` (RFC 9457) carrying a stable `code`, a
    human-readable `detail` and the `request_id` to quote to support. Branch on `code`, never on
    `detail`.

    ## Rate limits

    Without a key, one budget is shared per client address across every operation, and each call
    spends its operation's `x-avee-cost-cu` against it: wallet analytics and batches drain it
    faster than a pair lookup. An IPv6 address counts by its `/64`. With a key, limits are per key and per operation and always at least
    the keyless ones. Every limited response carries `RateLimit-Policy` and `RateLimit`
    (IETF draft-ietf-httpapi-ratelimit-headers) alongside the legacy `X-RateLimit-Limit` and
    `X-RateLimit-Remaining`; a `429` also carries `Retry-After` in seconds. `GET /key` reports the
    limits of the calling key.

    ## Paying past the keyless limit

    Where x402 is switched on, a keyless caller whose budget is spent can pay per call instead of
    waiting. The `429` then also carries `PAYMENT-REQUIRED`: base64 x402 v2 payment requirements. A
    client that sends `Accept-Payment: x402` gets the same requirements as a `402` instead, with the
    document in the body too. Repeat the request with `PAYMENT-SIGNATURE`: a paid request skips the
    keyless budget and is settled only when it answers `2xx`; the receipt is in `PAYMENT-RESPONSE`.
    The price follows `x-avee-cost-cu`, and `GET /.well-known/x402` lists every payable operation.

    ## Pagination

    Lists return `{items, next_cursor, prev_cursor}`. Cursors are opaque: pass them back unchanged and
    stop when `next_cursor` is absent. Never build a cursor yourself.

    ## Chains

    Chain identity is a slug (`ton`) or a numeric id (`950000`); both are accepted wherever a chain is
    named, and every chain-scoped object carries both. The set of chains is open and grows without a
    major version — read `GET /chains` instead of hardcoding a list.

    ## Compatibility

    Within v1 only additive changes ship: new endpoints, new optional parameters, new response fields,
    new values in the open sets marked in this document. Tolerate unknown enum values and unknown JSON
    fields. A breaking change means v2, and v1 keeps serving for at least 12 months after v2 is
    generally available, announced by `Deprecation` and `Sunset` response headers.

    ## Two endpoints outside this document

    `GET /api/v1/openapi.yml` returns this specification and `GET /api/v1/llms.txt` an agent-readable index of
    it. Both are rate limited like any other route.
  contact:
    name: avee
    url: https://docs.avee.tech
    email: connect@avee.tech
servers:
- url: https://api.preview.avee.tech/api/v1
  description: preview — the next release, listed first because it serves this contract today
- url: https://api.avee.tech/api/v1
  description: production
security: []
tags:
- name: meta
  description: health, plan, enumerations and the chain roster
- name: dex
  description: liquidity pairs, trades and candles
- name: token
  description: the canonical token registry
- name: farm
  description: yield farms and their APR
- name: wallet
  description: traders, their positions and the chain and protocol boards
- name: oracle
  description: prices from the avee oracle
paths:
  /.well-known/x402:
    get:
      operationId: x402Discovery
      x-avee-cost-cu: 0
      summary: Operations payable with x402 and their prices
      tags:
      - meta
      x-plan: anon
      x-cache-ttl: 60
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/X402Discovery'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Every operation a keyless caller can pay for once its budget is spent, with the
        networks, assets and atomic amounts it accepts, in the x402 discovery shape. Empty where x402
        is switched off. Fields are camelCase because that is the x402 wire format.'
  /status:
    get:
      operationId: status
      x-avee-cost-cu: 0
      summary: Liveness and upstream health
      tags:
      - meta
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Reports `ok` when every upstream this API depends on is reachable, `degraded` otherwise.
        Cheap: it spends the smallest unit of a rate limit.'
  /key:
    get:
      operationId: key
      x-avee-cost-cu: 0
      summary: Plan and limits of the calling key
      tags:
      - meta
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Returns the plan, rate limit and page-size ceiling of the key making the request.
        Never returns the key itself. Without a key it answers `401`.'
  /config:
    get:
      operationId: config
      x-avee-cost-cu: 10
      summary: Enumerations and defaults
      tags:
      - meta
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Everything a client needs to build a valid request: live chains, chart resolutions,
        transaction types, sort options and the indexing liquidity floor.'
      parameters:
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains:
    get:
      operationId: chains
      x-avee-cost-cu: 10
      summary: Chains served right now
      tags:
      - meta
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Only chains that produced a block within the last 24 hours. A chain missing here is
        not indexed at the moment; do not hardcode this list.
      parameters:
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /search:
    get:
      operationId: search
      x-avee-cost-cu: 30
      summary: Typeahead across tokens and pairs
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 3
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Matches token symbols and pair tickers. Address lookups are exact.
      parameters:
      - name: q
        in: query
        required: true
        description: symbol, ticker or address
        schema:
          type: string
          minLength: 1
          maxLength: 128
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every live chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: limit
        in: query
        required: false
        description: maximum hits per kind
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 50
          default: 8
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /pairs:
    get:
      operationId: pairs
      x-avee-cost-cu: 30
      summary: Liquidity pair screener
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 2
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: The screener. Filters compose with AND. Sorting by a metric reads the window given
        by `timeframe`; the composite boards (`popular`, `hottest`, `trending`) define their own and ignore
        it.
      parameters:
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every live chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: q
        in: query
        required: false
        description: ticker or DEX name substring
        schema:
          type: string
          maxLength: 128
      - name: protocols
        in: query
        required: false
        description: comma-separated DEX protocols
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/FactoryType'
        style: form
        explode: false
      - name: dex_names
        in: query
        required: false
        description: comma-separated DEX names
        schema:
          type: array
          maxItems: 32
          items:
            type: string
            maxLength: 64
        style: form
        explode: false
      - name: min_liquidity_usd
        in: query
        required: false
        description: inclusive lower bound on quoted liquidity
        schema:
          type: number
          format: double
          minimum: 0
      - name: max_liquidity_usd
        in: query
        required: false
        description: inclusive upper bound on quoted liquidity
        schema:
          type: number
          format: double
          minimum: 0
      - name: min_apr
        in: query
        required: false
        description: inclusive lower bound on LP fee APR, percent per year
        schema:
          type: number
          format: double
      - name: max_apr
        in: query
        required: false
        description: inclusive upper bound on LP fee APR, percent per year
        schema:
          type: number
          format: double
      - name: min_score
        in: query
        required: false
        description: inclusive lower bound on the trust score
        schema:
          type: integer
          format: uint32
          minimum: 0
          maximum: 100
      - name: max_score
        in: query
        required: false
        description: inclusive upper bound on the trust score
        schema:
          type: integer
          format: uint32
          minimum: 0
          maximum: 100
      - name: min_age_seconds
        in: query
        required: false
        description: exclude pairs younger than this
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: max_age_seconds
        in: query
        required: false
        description: exclude pairs older than this; the way to ask for new pairs
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: market_type
        in: query
        required: false
        description: spot or perp; perp markets exist only on Hyperliquid
        schema:
          $ref: '#/components/schemas/MarketType'
      - name: only_trustable
        in: query
        required: false
        description: exclude pairs whose pair or tokens carry a terminal scam status
        schema:
          type: boolean
          default: false
      - name: max_deployed_pairs
        in: query
        required: false
        description: exclude pairs whose deployer has launched more than this many pairs
        schema:
          type: integer
          format: uint32
          minimum: 1
      - name: sort
        in: query
        required: false
        description: sort key
        schema:
          $ref: '#/components/schemas/SortBy'
      - name: order
        in: query
        required: false
        description: sort direction
        schema:
          $ref: '#/components/schemas/OrderBy'
      - name: timeframe
        in: query
        required: false
        description: window for metric sorts (volume, transactions, price_change)
        schema:
          $ref: '#/components/schemas/TimeFrame'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/pairs/{address}:
    get:
      operationId: pair
      x-avee-cost-cu: 20
      summary: One liquidity pair
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 2
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Full metrics for a single pair, including LP security and deployer context that list
        responses omit.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/pairs/{address}/trades:
    get:
      operationId: pairTrades
      x-avee-cost-cu: 40
      summary: Trade tape of a pair
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 1
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Swaps and liquidity events in time order. Walk `next_cursor` to page away from the
        newest, `prev_cursor` to catch up.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: tx_type
        in: query
        required: false
        description: comma-separated transaction types; omit for every type
        schema:
          type: array
          maxItems: 8
          items:
            $ref: '#/components/schemas/TxType'
        style: form
        explode: false
      - name: maker
        in: query
        required: false
        description: restrict to one maker wallet
        schema:
          $ref: '#/components/schemas/Address'
      - name: from
        in: query
        required: false
        description: unix seconds, inclusive lower bound
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: to
        in: query
        required: false
        description: unix seconds, inclusive upper bound
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: order
        in: query
        required: false
        description: newest first (`desc`, default) or oldest first
        schema:
          $ref: '#/components/schemas/OrderBy'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/pairs/{address}/candles:
    get:
      operationId: pairCandles
      x-avee-cost-cu: 60
      summary: OHLCV candles
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 5
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartCandles'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: TradingView-compatible arrays. `s` is `no_data` when the range holds no trades, which
        is a success, not an error.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: res
        in: query
        required: true
        description: candle resolution
        schema:
          $ref: '#/components/schemas/ResolutionType'
      - name: from
        in: query
        required: true
        description: unix seconds, inclusive
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: to
        in: query
        required: true
        description: unix seconds, inclusive
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: countback
        in: query
        required: false
        description: return exactly this many candles ending at `to`, ignoring `from`
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 5000
      - name: currency
        in: query
        required: false
        description: denomination of prices
        schema:
          type: string
          enum:
          - usd
          - native
          default: usd
      - name: price_from_quote
        in: query
        required: false
        description: derive price from the quote token instead of the base
        schema:
          type: boolean
          default: false
      - name: volume_from_quote
        in: query
        required: false
        description: |
          derive volume from the quote token instead of the base. Note for anyone porting from v2, where this defaulted to `true`: here it defaults to `false`, so the same call returns volume in base-token units rather than quote. Send it explicitly and the two versions agree.
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/tokens/{address}:
    get:
      operationId: tokenByAddress
      x-avee-cost-cu: 20
      summary: Canonical token by chain and address
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Resolves a deployment address to the canonical token it belongs to. Responses are
        `no-store`: prices move faster than any cache would.'
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: include_instances
        in: query
        required: false
        description: include every chain deployment of this token
        schema:
          type: boolean
          default: true
      - name: include_market
        in: query
        required: false
        description: include price and market metrics
        schema:
          type: boolean
          default: true
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/tokens/{address}/pairs:
    get:
      operationId: tokenPairs
      x-avee-cost-cu: 30
      summary: Top pairs of a token by 24h volume
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 2
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: The markets a token trades in on one chain, spot and perp, holding it on either leg,
        highest 24h volume first. Blocked pairs never appear. An empty list means no qualifying market,
        not an unknown token.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: limit
        in: query
        required: false
        description: how many pairs
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
          default: 10
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/tokens/{address}/verdict:
    get:
      operationId: tokenVerdict
      x-avee-cost-cu: 40
      summary: Signed token verdict, submittable to the trust oracle
      tags:
      - token
      security: []
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerdict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        What the avee trust oracle holds for one token, signed (EIP-712) so it can be submitted to `AveeTrustOracle.submitAttestation` or carried in a Uniswap v4 `hookData`. No key, no payment: a verdict nobody can read is a verdict nobody can act on.

        Read `status` and the signature together. `ok` means the oracle holds no block — it is **not** a clearance, and it never means the token was examined and found clean. A token nobody has evaluated answers `200` with `status: "unknown"` and no signature block at all, because a signed zero would be a claim nobody made. Chains with no oracle answer the same way, with `oracle_address` absent.

        `verdict_at` is when the verdict was reached; `signed_at` is when this response was signed and is the value the signature covers. An attestation can only tighten a verdict on chain: it may raise a status or set one where none exists, never lower one the relayer wrote.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
  /chains/{chain}/tokens/{address}/proof:
    get:
      operationId: tokenVerdictProof
      x-avee-cost-cu: 20
      summary: Merkle proof of a verdict at the last published epoch
      tags:
      - token
      security: []
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerdictProof'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        The audit path, and the companion to the verdict. It answers "what did avee commit to at epoch N", never "is this token blocked now" — for that, read the verdict, or `isBlocked` on the oracle contract. Verify the returned path with `AveeTrustOracle.verifyLeaf(epoch, token, verdict, proof)`.

        No key, for the same reason the verdict needs none: a commitment nobody can check is not a commitment. A token absent from the published epoch is `404` — it was not committed to, which is a different fact from being committed to as unblocked.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
  /chains/{chain}/tokens/{address}/brief:
    get:
      operationId: tokenBrief
      x-avee-cost-cu: 20
      summary: Everything needed to decide about a token, in one call
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBrief'
        '304':
          description: the brief is unchanged since the `ETag` in `If-None-Match`; no body
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        One document instead of six calls: the signed verdict, the trust score with the signals that made it, both liquidity figures with lock and burn, the 24-hour market on the deepest pool, holder concentration, the deployer's history and the flags. Fields arrive in a fixed order — `verdict` is early enough to decide on before the body finishes — and empty blocks are omitted rather than sent as null, because a null invites a reader to treat "not measured" as a measured zero.

        A real token's brief is under two kilobytes. Poll it with `If-None-Match`: an unchanged token answers `304` and costs neither payment nor context.

        A keyless caller past its budget can pay per call with x402, as on every priced operation; a caller with an API key is never challenged. The embedded verdict is the verdict endpoint's object unchanged, so a chain with no oracle carries `status: "unknown"` and no signature here too.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: If-None-Match
        in: header
        required: false
        description: |
          the `ETag` of the brief you already hold. An unchanged token answers `304` with no body, and costs neither payment nor context. This is the intended way to poll.
        schema:
          type: string
          maxLength: 128
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /tokens/{id}:
    get:
      operationId: tokenByID
      x-avee-cost-cu: 20
      summary: Canonical token by id
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      parameters:
      - name: id
        in: path
        required: true
        description: canonical token uuid
        schema:
          type: string
          format: uuid
      - name: include_instances
        in: query
        required: false
        description: include every chain deployment of this token
        schema:
          type: boolean
          default: true
      - name: include_market
        in: query
        required: false
        description: include price and market metrics
        schema:
          type: boolean
          default: true
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /tokens/by-slug/{slug}:
    get:
      operationId: tokenBySlug
      x-avee-cost-cu: 20
      summary: Canonical token by slug
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      parameters:
      - name: slug
        in: path
        required: true
        description: canonical token slug
        schema:
          type: string
          minLength: 1
          maxLength: 128
      - name: include_instances
        in: query
        required: false
        description: include every chain deployment of this token
        schema:
          type: boolean
          default: true
      - name: include_market
        in: query
        required: false
        description: include price and market metrics
        schema:
          type: boolean
          default: true
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /tokens:
    get:
      operationId: tokens
      x-avee-cost-cu: 30
      summary: Token market list, ranked by market cap
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 2
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: One row per token per chain, with the figures of every pair it trades in rolled up —
        price, 24h volume and transactions, liquidity, market cap, FDV, holders and the rating. Sorted
        by market cap unless `sort` says otherwise; a blocked token never appears. Rows the canonical
        registry knows carry its id, slug, status and logo; a row it does not know carries the all-zero
        id. `includes` echoes which optional registry blocks the response carries.
      parameters:
      - name: q
        in: query
        required: false
        description: token name, ticker or address
        schema:
          type: string
          maxLength: 128
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every live chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: categories
        in: query
        required: false
        description: comma-separated category slugs; a token matches when it carries any of them
        schema:
          type: array
          maxItems: 32
          items:
            type: string
            minLength: 1
            maxLength: 64
        style: form
        explode: false
      - name: sort
        in: query
        required: false
        description: sort key
        schema:
          $ref: '#/components/schemas/TokenSortBy'
      - name: order
        in: query
        required: false
        description: sort direction
        schema:
          $ref: '#/components/schemas/OrderBy'
      - name: min_liquidity_usd
        in: query
        required: false
        description: inclusive lower bound on liquidity across the token's pairs
        schema:
          type: number
          format: double
          minimum: 0
      - name: max_liquidity_usd
        in: query
        required: false
        description: inclusive upper bound on liquidity across the token's pairs
        schema:
          type: number
          format: double
          minimum: 0
      - name: min_volume_usd
        in: query
        required: false
        description: inclusive lower bound on the 24h volume
        schema:
          type: number
          format: double
          minimum: 0
      - name: max_volume_usd
        in: query
        required: false
        description: inclusive upper bound on the 24h volume
        schema:
          type: number
          format: double
          minimum: 0
      - name: min_market_cap_usd
        in: query
        required: false
        description: inclusive lower bound on market cap
        schema:
          type: number
          format: double
          minimum: 0
      - name: max_market_cap_usd
        in: query
        required: false
        description: inclusive upper bound on market cap
        schema:
          type: number
          format: double
          minimum: 0
      - name: min_fdv_usd
        in: query
        required: false
        description: inclusive lower bound on fully diluted valuation
        schema:
          type: number
          format: double
          minimum: 0
      - name: max_fdv_usd
        in: query
        required: false
        description: inclusive upper bound on fully diluted valuation
        schema:
          type: number
          format: double
          minimum: 0
      - name: min_age_seconds
        in: query
        required: false
        description: exclude tokens launched more recently than this
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: max_age_seconds
        in: query
        required: false
        description: exclude tokens launched longer ago than this
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: min_score
        in: query
        required: false
        description: inclusive lower bound on the token trust score
        schema:
          type: integer
          format: uint32
          minimum: 0
          maximum: 100
      - name: max_score
        in: query
        required: false
        description: inclusive upper bound on the token trust score
        schema:
          type: integer
          format: uint32
          minimum: 0
          maximum: 100
      - name: min_holders
        in: query
        required: false
        description: inclusive lower bound on the holders we track
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: max_holders
        in: query
        required: false
        description: inclusive upper bound on the holders we track
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: include_instances
        in: query
        required: false
        description: include chain deployments for every item
        schema:
          type: boolean
          default: false
      - name: include_market
        in: query
        required: false
        description: include price and market metrics for every item
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /tokens/batch:
    post:
      operationId: tokenBatch
      x-avee-cost-cu: 100
      summary: Resolve many tokens at once
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Resolves up to 200 deployment references in one call. Unresolvable references come
        back with `found: false` rather than failing the batch.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenBatchRequest'
      parameters:
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /farms:
    get:
      operationId: farms
      x-avee-cost-cu: 30
      summary: Yield farm screener
      tags:
      - farm
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        MasterChef-family staking pools keyed by `(chain, address, pid)`, with total value locked, the reward token and both the yearly and daily APR decomposition. Every row carries the verification `status` of the farm contract, so an unverified pool is never read as a confirmed yield, and `updated_at` is the indexer's own observation time — treat a stale value as stale data, not as a fresh zero.

        The farm indexer serves one chain per query, so naming several chains fans out one query per chain and merges the results here. A merged page is globally ordered by `sort` when it is set and grouped chain by chain in the order given when it is not; `cursor` round-trips as usual, but a merged page carries no `prev_cursor` because the indexer cannot page backwards from a position it never handed out. A single chain is unaffected in every respect.
      parameters:
      - name: chains
        in: query
        required: true
        description: comma-separated chain slugs or ids; at most 8, one upstream query each
        schema:
          type: array
          minItems: 1
          maxItems: 8
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: q
        in: query
        required: false
        description: farm ticker substring
        schema:
          type: string
          maxLength: 128
      - name: factories
        in: query
        required: false
        description: comma-separated factory addresses; only farms deployed by these
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/Address'
        style: form
        explode: false
      - name: sort
        in: query
        required: false
        description: sort key
        schema:
          $ref: '#/components/schemas/FarmSortBy'
      - name: order
        in: query
        required: false
        description: sort direction
        schema:
          $ref: '#/components/schemas/OrderBy'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/farms/{address}:
    get:
      operationId: farm
      x-avee-cost-cu: 20
      summary: One yield farm
      tags:
      - farm
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        The farm at one LP contract address, in the row shape the screener serves. `404` when the address is not a farm this API indexes on that chain — which is not the same as a farm with nothing staked, and is why watching one pool does not mean paging the screener.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the farm's LP contract address
        schema:
          $ref: '#/components/schemas/Address'
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /wallets:
    get:
      operationId: wallets
      x-avee-cost-cu: 50
      summary: Rank traders on one chain
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Traders ranked over a rolling window, filtered on win rate, volume, holding time, capital tier and behaviour.

        `exclude_bots` removes market makers as well as bots: their edge is inventory and latency rather than directional skill, so ranking them beside discretionary traders compares two different games.

        Sorting on `win_rate` only ranks wallets with enough rated positions for the ratio to carry information. A wallet that clearly has winning trades but reports `win_rate` 0 has too small a rated sample — read `trade_win_rate` instead, and `rated_positions` for the sample size.
      parameters:
      - name: chain
        in: query
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: window
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/WalletWindow'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/WalletSortBy'
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/OrderBy'
      - name: min_total_pnl_usd
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: min_realized_pnl_usd
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: min_volume_usd
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: min_win_rate
        in: query
        required: false
        description: 0..1
        schema:
          type: number
          format: double
          minimum: 0
          maximum: 1
      - name: min_trades
        in: query
        required: false
        schema:
          type: integer
          format: uint32
      - name: max_avg_hold_seconds
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: min_user_score
        in: query
        required: false
        schema:
          type: integer
          format: uint32
          minimum: 0
          maximum: 100
      - name: no_abuse_evidence
        in: query
        required: false
        description: only wallets with no abuse evidence at all, not merely little
        schema:
          type: boolean
      - name: only_copy_eligible
        in: query
        required: false
        schema:
          type: boolean
      - name: exclude_bots
        in: query
        required: false
        schema:
          type: boolean
      - name: tiers
        in: query
        required: false
        description: comma-separated capital tiers
        schema:
          type: array
          maxItems: 8
          items:
            $ref: '#/components/schemas/WalletTier'
        style: form
        explode: false
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /wallets/stats:
    get:
      operationId: walletStats
      x-avee-cost-cu: 20
      summary: Trader population per chain
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 60
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Population-level counts of the traders on each chain — the wallet counterpart of the chain header in `/config`. It is a separate call on purpose: these aggregates live in the wallet-analytics store, and folding them into the bootstrap config would put every page load behind them.

        Omit `chains` for every chain whose wallet data is served.
      parameters:
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every served chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /wallets/labels/batch:
    post:
      operationId: walletLabelsBatch
      x-avee-cost-cu: 60
      summary: Behaviour labels for many wallets
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletLabelsRequest'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletLabelList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Batch by construction: a transaction table calls this once per page to mark robot, sniper and sandwich makers, where a per-row call would be one request per visible trade.

        It is the one wallet read that is a `POST`, because a list of up to 200 addresses does not belong in a query string. Addresses absent from the response carry no labels.
      parameters:
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /wallets/{address}/overview:
    get:
      operationId: walletOverview
      x-avee-cost-cu: 60
      summary: One wallet across every chain it traded
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletOverview'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        The per-chain profiles merged into one header: lifetime totals, the PNL split per chain with each chain's share, and the most profitable chain.

        Chains in scope whose wallet data could not be read are listed in `unavailable_chains` rather than silently counted as zero — a missing chain and a chain that earned nothing are different claims. Omit `chains` for every served chain.
      parameters:
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every served chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: window
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/WalletWindow'
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /leaderboard:
    get:
      operationId: leaderboard
      x-avee-cost-cu: 20
      summary: Chain and DEX protocol boards
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 60
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaderboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Precomputed rankings of the chains we index, and of the venues inside one chain. Every row carries its raw metrics beside its dimension scores, so a client can sort on any figure and ignore the composite entirely.

        `scope=protocols` is one board of DEXes and launchpads together. Every pair counts in exactly one row: the launchpad it was created on when it has one, otherwise the DEX that owns its factory. A launchpad trading on Uniswap pools is its own row, and its volume is never part of Uniswap's. `category` labels each row (`dex`, `launchpad`, `perps`, `aggregator`), `infra` names the protocols its pools trade on, and `metrics.hosted_volume_24h` shows the volume other venues trade on a row's pools without ranking it. Pools no one can name — including v4 pools under a hook with no known brand — stay out of the rows and inside the share denominator, so the named shares fall short of one by exactly that amount.

        Nothing here is computed on the request: the response is drawn from a snapshot taken on a fixed cadence, and `snapshot_at` says exactly how old it is. Rows the board refused to rank appear in `excluded` with a reason rather than going silently missing.

        With `seasonal=true` the window is a season instead of the live rolling day. A closed season is frozen and never changes; a running one still moves.
      parameters:
      - name: scope
        in: query
        required: true
        description: which population to rank
        schema:
          $ref: '#/components/schemas/LeaderboardScope'
      - name: chain
        in: query
        required: false
        description: chain slug or id; required for `scope=protocols`
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids to include; used by `scope=chains`
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: seasonal
        in: query
        required: false
        description: rank the season window instead of the live rolling board
        schema:
          type: boolean
      - name: season
        in: query
        required: false
        description: season number; omit or `0` with `seasonal=true` for the season now running
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 200
          default: 50
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/wallets/{address}:
    get:
      operationId: walletProfile
      x-avee-cost-cu: 30
      summary: Trader profile with metrics for every window
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Everything known about one trader on one chain: capital tier, behaviour labels, the two scores with the reasons behind them, and `metrics` once per window so a client switches window without another round trip.

        `rebuild_skipped` true means the zeroes are a decision rather than a gap — the wallet is classified as machinery nobody can copy. `human_known` false means the timing evidence was too thin to have an opinion, which caps the score and is not the same as a wallet judged mid-range.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/wallets/{address}/positions:
    get:
      operationId: walletPositions
      x-avee-cost-cu: 40
      summary: Open and closed positions of a wallet
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPositionPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        One row per token the wallet traded, averaging every entry and exit cycle together. When a per-cycle view is wanted, read `/rounds` instead.

        `basis_is_incomplete` marks a position that received tokens the indexer could not price, so its PNL is a floor rather than a figure. Each row carries the traded token's `token_score` and `token_status`; statuses `999` and `1000` are terminal, and a position in one of those is a position in a condemned token whatever the score says.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - name: state
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PositionState'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PositionSortBy'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/wallets/{address}/trades:
    get:
      operationId: walletTrades
      x-avee-cost-cu: 40
      summary: Raw trade history of a wallet
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 5
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTradePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Every trade the wallet made on this chain, newest first. `side` separates a real swap from a bare token movement: `transfer_in` and `transfer_out` carry no price and must not be counted as trading.

        `fee_is_estimated` true means the fee was modelled rather than read from the receipt.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/wallets/{address}/chart:
    get:
      operationId: walletChart
      x-avee-cost-cu: 30
      summary: Wallet performance series — PNL and ROI
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletChart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        One series carrying both metrics, so a chart switches between PNL and ROI without another round trip. Buckets are hourly for windows of a week or less and daily above that.

        A bucket's `roi` is its realised profit over the cost basis it closed. `cumulative_roi` is running realised profit over running cost basis — not a sum of the per-bucket ratios, which would be a different and meaningless number.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - name: window
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/WalletWindow'
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/wallets/{address}/best-trades:
    get:
      operationId: walletBestTrades
      x-avee-cost-cu: 30
      summary: Best and worst closed trades of a wallet
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBestTrades'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        The wallet's ranked realised winners and losers over the window, and what the ranking left out.

        `hidden_positions` and `hidden_realized_pnl_usd` account for the PNL outside both lists, so a profile cannot show a top three that silently contradicts the total.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - name: window
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/WalletWindow'
      - name: limit
        in: query
        required: false
        description: rows per list
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/wallets/{address}/rounds:
    get:
      operationId: walletRounds
      x-avee-cost-cu: 40
      summary: Position rounds — one entry and exit cycle per row
      tags:
      - wallet
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletRoundPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        A wallet re-enters a token as often as it likes; a round is one buy-to-flat cycle of it. Rounds are what a per-trade PNL view needs, because a single position row averages every cycle together.

        Omit `token` for every token the wallet traded.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: the wallet address
        schema:
          $ref: '#/components/schemas/Address'
      - name: token
        in: query
        required: false
        description: restrict to one token; omit for every token the wallet traded
        schema:
          $ref: '#/components/schemas/Address'
      - name: state
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PositionState'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /trending:
    get:
      operationId: trending
      x-avee-cost-cu: 20
      summary: Trending pairs right now
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 5
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: The trending board — pairs ranked by recent activity with its own window, the same ordering `GET /pairs?sort=trending` serves. Blocked pairs never appear.
      parameters:
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every live chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /pairs/new:
    get:
      operationId: pairsNew
      x-avee-cost-cu: 20
      summary: Newest pairs on one chain
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 5
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Pairs of one chain, newest first. Blocked pairs never appear.
      parameters:
      - name: chain
        in: query
        required: true
        description: chain slug (`robinhood`) or numeric chain id (`4663`); one chain per call, because the list walks that chain's own index
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: min_liquidity_usd
        in: query
        required: false
        description: inclusive lower bound on quoted liquidity
        schema:
          type: number
          format: double
          minimum: 0
      - name: max_age_seconds
        in: query
        required: false
        description: exclude pairs older than this
        schema:
          type: integer
          format: uint32
          minimum: 0
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /launchpads/tokens:
    get:
      operationId: launchpadTokens
      x-avee-cost-cu: 20
      summary: Launchpad launches by stage (new, bonding or graduated)
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 5
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Launches of one chain, newest first, each with its `launchpad` block. `new` is every pool a launchpad created, curve or not; `bonding` is a bonding-curve pool that has not graduated yet; `graduated` is a curve that completed and migrated to `launchpad.migrated_pool`. Curve progress is not published: nothing measured stands behind it yet.
      parameters:
      - name: chain
        in: query
        required: true
        description: chain slug (`robinhood`) or numeric chain id (`4663`); one chain per call, because the list walks that chain's own index
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: launch_status
        in: query
        required: false
        description: which launches to list; `launchpad.stage` on each row says where that pool is now
        schema:
          $ref: '#/components/schemas/LaunchStatus'
      - name: launchpads
        in: query
        required: false
        description: comma-separated launchpad or DEX names, as `launchpad.name` spells them
        schema:
          type: array
          maxItems: 32
          items:
            type: string
            maxLength: 64
        style: form
        explode: false
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/tokens/{address}/holders:
    get:
      operationId: tokenHolders
      x-avee-cost-cu: 40
      summary: Top holders of a token
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenHolderPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Wallets holding the token now, largest balance first, with their labels. Balances are the positions avee reconstructs from swaps and transfers it indexes, so a wallet that only ever received the token outside an indexed venue can be missing. `holder_stats` — count and top-ten share from the holder sweep, the same block the token carries — rides on the first page only.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /chains/{chain}/tokens/{address}/traders:
    get:
      operationId: tokenTraders
      x-avee-cost-cu: 40
      summary: Wallets that traded a token, with their PNL on it
      tags:
      - token
      x-plan: anon
      x-cache-ttl: 15
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenTraderPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: |
        Every wallet with a position in the token, open or closed, ranked by realized PNL unless `sort` says otherwise. Figures are lifetime on this token; there is no time window yet.
      parameters:
      - name: chain
        in: path
        required: true
        description: chain slug (`ton`) or numeric chain id (`950000`)
        schema:
          type: string
          minLength: 1
          maxLength: 32
      - name: address
        in: path
        required: true
        description: chain-native address; EVM addresses are case-insensitive
        schema:
          $ref: '#/components/schemas/Address'
      - name: sort
        in: query
        required: false
        description: ranking key
        schema:
          $ref: '#/components/schemas/TokenTraderSortBy'
      - name: state
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PositionState'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /pairs/batch:
    post:
      operationId: pairBatch
      x-avee-cost-cu: 40
      summary: Many pairs in one call
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: 'Resolves up to 50 pairs, across chains, in one read per chain. A pair nobody indexes comes back with `found: false` rather than failing the batch; a blocked pair comes back with `verdict.status: blocked`. LP lock figures are not included — read the single pair for them.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PairBatchRequest'
      parameters:
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /perps:
    get:
      operationId: perps
      x-avee-cost-cu: 20
      summary: Perpetual markets
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 5
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Perpetual markets, highest 24h volume first unless `sort` says otherwise. Each row carries `prop_data.perp` — mark, oracle, funding, open interest.
      parameters:
      - name: chains
        in: query
        required: false
        description: comma-separated chain slugs or ids; omit for every live chain
        schema:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/ChainSlug'
        style: form
        explode: false
      - name: q
        in: query
        required: false
        description: ticker substring
        schema:
          type: string
          maxLength: 128
      - name: sort
        in: query
        required: false
        description: sort key
        schema:
          $ref: '#/components/schemas/PerpSortBy'
      - name: order
        in: query
        required: false
        description: sort direction
        schema:
          $ref: '#/components/schemas/OrderBy'
      - name: timeframe
        in: query
        required: false
        description: window for metric sorts
        schema:
          $ref: '#/components/schemas/TimeFrame'
      - name: limit
        in: query
        required: false
        description: page size; plans above startup may raise the ceiling
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: cursor
        in: query
        required: false
        description: opaque cursor from `next_cursor` or `prev_cursor`
        schema:
          type: string
          maxLength: 512
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /perps/{market}/history:
    get:
      operationId: perpHistory
      x-avee-cost-cu: 30
      summary: Open interest, funding and mark history of a perpetual
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 30
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
      description: Snapshots of one perpetual at a fixed interval — mark and oracle price, premium, open interest by side and hourly funding and borrow rates. A point whose open interest was not observed says so in `oi_known`.
      parameters:
      - name: market
        in: path
        required: true
        description: the market's address on its venue, as `pair_address` spells it (`BTC`)
        schema:
          $ref: '#/components/schemas/Address'
      - name: chain
        in: query
        required: false
        description: chain slug or id of the perpetuals venue
        schema:
          type: string
          minLength: 1
          maxLength: 32
          default: hyperliquid
      - name: from
        in: query
        required: false
        description: window start, unix seconds UTC; defaults to the longest window served
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: to
        in: query
        required: false
        description: window end, unix seconds UTC; defaults to now
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: interval
        in: query
        required: false
        description: snapshot spacing
        schema:
          type: string
          default: 1h
          enum:
          - 5m
          - 1h
      - $ref: '#/components/parameters/AcceptPayment'
      - $ref: '#/components/parameters/PaymentSignature'
  /perps/liquidations:
    get:
      operationId: perpLiquidations
      x-avee-cost-cu: 30
      summary: Daily liquidations of a perpetual or a whole venue
      tags:
      - dex
      x-plan: anon
      x-cache-ttl: 60
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerpLiquidations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/InternalError'
[...]
